li {
  &:hover {
    cursor: pointer;
    color: #0c4285;
  }

  &:active {
    opacity: 0.3;
  }
}

.active {
  border-radius: 10px;
  background-color: #0c4285;
  color: #fff;
}

.active:hover {
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #fff;
}

.grey {
  color: #969595;
}
