.number {
  &:hover {
    cursor: pointer;
    color: #0c4285;
  }

  &:active {
    opacity: 0.3;
  }
}

.grey {
  color: #969595;
}

.holiday {
  position: relative;
}

.holiday::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: red;
}

.active {
  border-radius: 10px;
  background-color: #0c4285;
  color: #fff;
}

.active:hover {
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #fff;
}

.active.holiday::after {
  content: none;
}
