.monthTable {
  box-sizing: border-box;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  p {
    padding: 0;
    margin: 0;
  }
}

.table {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  li {
    display: flex;
    align-self: center;
    justify-content: center;

    padding: 10px;
    border: 1px solid #fff;
    &:hover {
      cursor: pointer;
      color: #254a95;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
