.list {
  overflow: hidden auto;
  max-height: 200px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 100%;
  list-style: none;

  &__item {
    padding: 15px 0;
    display: flex;
  }
}

.list::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.list::-webkit-scrollbar-track {
  background: #969595;
  border-radius: 10px;
}
.list::-webkit-scrollbar-thumb {
  max-height: 10px;

  border-radius: 10px;
  background-color: #555;
}
