.plannerDescription {
  grid-area: CalendarFooter;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  span {
    height: 24px;
  }

  &__text {
    position: relative;
    margin: 0;
  }

  &__text::after {
    position: absolute;
    right: -10px;
    top: 50%;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: rgb(13, 171, 171);
  }
}
