.number {
  &:hover {
    cursor: pointer;
    color: #0c4285;
  }

  &:active {
    opacity: 0.3;
  }
}

.grey {
  color: #969595;
}

.hasTodos {
  position: relative;
}

.hasTodos::after {
  position: absolute;
  bottom: 4px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: rgb(13, 171, 171);
  animation: ease-in 0.5s;
}

.active {
  border-radius: 10px;
  background-color: #0c4285;
  color: #fff;
}

.active:hover {
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #fff;
}

.active.holiday::after {
  content: none;
}
