.currentFullDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin-top: 80px;
  height: 70px;
  background: #283041;
}

.inner {
  padding-top: 10px;
}
