.currentFullDate {
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
  padding-top: 15px;
  margin-top: 80px;
  height: 70px;
  background: #283041;
}

.inner {
  flex-basis: 100%;
  text-align: center;
}
