.currentFullDate {
  box-sizing: border-box;
  margin-top: 80px;
  height: 70px;
  background: #283041;
}

.inner {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
